
$primary-color: #0CC;
$secondary-color: #374785;
$success-color: #4DBE8B;
$failure-color: #D83D3D;

$font-primary-color: #666D75;
$font-secondary-color: #ffffffde;

$mat-form-text-color: #444851;

$font-size-h1: 36px;
$font-size-h2: 32px;

