@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

header{
    height:100px;
    background-color: #a9cce9 !important;
    font-family: 'Days One', sans-serif;
    font-size: 2rem;
}

.navbar-brand{
    color:white
}