<header class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container  align-items-center">
        <a class="navbar-brand " href="#">
            BLOG-R
        </a>
        <div class="menu">
            <a href="">
                <img src="../../../assets/icons/edit.svg" alt="write">
                Write
            </a>
            <a href="">
                <img src="../../../assets/icons/book.svg" alt="stories">
            </a>
            <a href="">
                <img src="../../../assets/icons/user.svg" alt="profile">
            </a>
        </div>
    </div>
</header>