@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

header{
    height:100px;
    background-color: #a9cce9 !important;
    color:white
    
   
}

.navbar-brand{
    color:white;
    font-size: 2rem;
    font-family: 'Days One', sans-serif;
    margin-right: 55rem;
}

a{
    color: white;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-size: 1.25rem;
    font-weight:700 ;
}

.menu a{
   margin-right: 2rem;
}