<div class="p-5 category-header">
    <div class="container">
    <h1>Arts</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quaerat ipsum architecto nulla, aspernatur amet accusantium quos.</p>
    </div>
</div>
<div class="container">
    <div class="row p-5">
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>