<div class="comment-form">
    <h3 class="mb-4">Leave a Comment</h3>
    <form class="p-4">
        <div class="form-group mb-3">
          <label for="exampleFormControlInput1 mb-4">Name*</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="John Doe">
        </div>
        <div class="form-group mb-3">
          <label for="exampleFormControlTextarea1">Message*</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Great post!"></textarea>
        </div>
        <button type="submit">Post Comment</button>
      </form>
</div>
