<div class="comments-list-container mb-4">
    <h3 class="mb-4">6 Comments</h3>
    <ul class="comments-list">
        <li class="comment mb-2">
            <div class="comment-body">
                <h3>John Doe</h3>
                <div>January 4, 2024</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt atque tempore officiis. Consequatur unde rerum, ad ratione, iure alias totam excepturi voluptatibus reiciendis placeat culpa numquam aut, tempora voluptate asperiores.</p>
            </div>
        </li>
        <li class="comment mb-2">
            <div class="comment-body">
                <h3>John Doe</h3>
                <div>January 4, 2024</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt atque tempore officiis. Consequatur unde rerum, ad ratione, iure alias totam excepturi voluptatibus reiciendis placeat culpa numquam aut, tempora voluptate asperiores.</p>
            </div>
        </li>

    </ul>
</div>
