<div class="container">
<div class="back-btn">
    <button mat-raised-button color="accent" routerLink="/admin">Back</button>
</div>

<div>
    <div *ngIf="error" class="alert alert-danger alert-dismissible fade show " role="alert" style=" margin:auto">
        <strong>Error!</strong> {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card  class="form-container">
<mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
    <mat-error *ngIf="form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched) && form.get('title')?.errors?.['required']">
        Title is required
    </mat-error>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Select Category</mat-label>
    <mat-select formControlName="tagName">
      <mat-option *ngFor="let tag of tags" [value]="tag.tagName">
        {{tag.tagName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Likes</mat-label>
    <input type="number" matInput formControlName="likes">
    <mat-error *ngIf="form.get('tlikes')?.invalid && (form.get('likes')?.dirty || form.get('likes')?.touched) && form.get('likes')?.errors?.['required']">
        Likes is required
    </mat-error>
</mat-form-field>


<!-- <form appearance="fill"> -->
    <mat-label>Image</mat-label> <br>
    <img [src]="img" alt="" class="img-fluid img-preview" width="250px" height="250px">
    <!-- <img src="../../../../assets/img/img-placeholder.png" alt=""> -->
    <input formControlName="image" type="file" accept="image/*" (change)="showPreview($event)">
    <mat-error *ngIf="form.get('image')?.invalid && (form.get('image')?.dirty || form.get('image')?.touched) && form.get('image')?.errors?.['required']">
        Image is required
    </mat-error>

<!-- <form action=""> -->
    <angular-editor placeholder="Tell your Story" height="500px" formControlName="body"></angular-editor>

<!-- </form> -->
<mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input type="date" matInput formControlName="createdAt">
    <!-- <mat-error *ngIf="form.get('createdAt')?.invalid && (form.get('createdAt')?.dirty || form.get('createdAt')?.touched) && form.get('createdAt')?.errors?.['required']">
        Image is required
    </mat-error> -->
</mat-form-field>

<div class="actions">
    <button  mat-raised-button color="primary"> Publish Post </button>
    <button  mat-raised-button color="accent" type="button"> Cancel </button>
</div>
</mat-card>
</form>


</div>
</div>