.featured-section{
    background-color: #F0F8FF;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 130px;
    padding-top:130px;
    color:black !important;
    // width: 100vw !important;
    // border:3px solid blue;
}

.latest-post-section{
    padding-bottom: 130px;
}