<section class="featured-section">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2>Featured Posts</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel odio voluptatibus mollitia voluptatum, earum ad ex libero placeat</p>
            </div>
        </div> -->
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5 latest-post-section">
       <div class="col-md-12 text-center">
        <h2 class="latest-post">Latest Posts</h2>
       </div>

       <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
       </div>
     
</section>