<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="post-full pt-4 pb-4">                    
                        <img src="https://images.pexels.com/photos/4555783/pexels-photo-4555783.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid mb-3" alt="">
                        <h1 class="pt-2 post-title">Meditations</h1>
                        <p class="tm-mb-40"> 01-01-2024 posted by janagonz </p>
                        <div class="tag-badge">
                            <span class="badge badge-primary">Spiritual</span> <span class="badge badge-primary">Health</span>
                        </div>

                        <hr>
                        
                        <p>
                            Duis pretium efficitur nunc. Mauris vehicula nibh nisi. Curabitur gravida neque
                            dignissim, aliquet nulla sed, condimentum nulla. Pellentesque id venenatis
                            quam, id cursus velit. Fusce semper tortor ac metus iaculis varius. Praesent
                            aliquam ex vel lectus ornare tristique. Nunc et eros quis enim feugiat tincidunt
                            et vitae dui. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quo eum delectus provident praesentium laborum ducimus ratione repellendus vitae omnis ullam, 
                            necessitatibus saepe mollitia sequi beatae facere iure aliquam? Autem, hic?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam pariatur cupiditate quasi nemo? 
                            Repudiandae, quaerat. Nihil quidem sequi sapiente asperiores cupiditate est pariatur explicabo
                             id enim. Itaque et quaerat possimus!
                        </p>
                    </div>
                    <div class="comment-section">
                        <app-comments-list></app-comments-list>
                        <app-comment-form></app-comment-form>
                    </div>
        </div>
        <div class="col-md-3">
            <div class="popular-posts pt-4 pb-4">
            <h3>Popular Posts</h3>
            <hr>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
        </div>
    </div>
    

</div>
