<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <div class="sidenav-content">
    <img src="../../assets/img/2093646.png"  class="profile-avatar">
    <mat-nav-list>
      <a mat-list-item routerLink="/posts" ><mat-icon>auto_stories</mat-icon> Feed</a>
      <a routerLink="/admin" mat-list-item ><mat-icon>admin_panel_settings</mat-icon>Profile</a>
      <a mat-list-item ><mat-icon>comment</mat-icon>Comments</a>
      <a mat-list-item ><mat-icon>pages</mat-icon>Starred</a>
      <a class ="logout" mat-list-item (click)="onLogout()"><mat-icon>logout</mat-icon>Logout</a>
    </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo"><img src="../../assets/img/logo.png" class="logo-img"> ngBlog </span>
    </mat-toolbar>
    <!-- Add Content Here -->
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


