@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Ms+Madi&family=Poppins:wght@100;200;400;500&display=swap');
@import 'src/styles';
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300&display=swap');


.sidenav-container{
  height:92%;
}

.sidenav {
  width: 12rem
}

.sidenav .mat-toolbar {
  background: inherit;
}

mat-sidenav{
  background:#6096ba !important;
  color:$font-secondary-color !important;
  padding: 0;
}


a{
  color:white !important;
  font-family: 'Courier New', Courier, monospace!important;
  font-size: 18px!important;
  font-weight: 600;
}

mat-icon{
  margin-right: 1rem;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  
}

.logo-img{
  width:60px
}

.logo{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace!important;
  font-size:xx-large
}

.profile-avatar{
  margin-left: 20%;
  margin-bottom:1rem;
  margin-top:1rem;
  border-radius: 100rem;
  width:100px;
  height:100px;
}


.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
