<div class="back-btn">
    <button mat-raised-button color="primary" routerLink="/admin"> Back</button>
</div>

<div>
    <form>
    <mat-card  class="form-container">
<mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Image</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput>
</mat-form-field>

<div class="actions">
    <button  mat-raised-button color="accent"> Save </button>
    <button  mat-raised-button color="accent"> Cancel </button>
</div>
</mat-card>
</form>
</div>