<mat-card class="post-card">
    <mat-card-header>
      <div mat-card-avatar class="user-avatar"></div>
      <mat-card-title><span> Epiphany</span></mat-card-title>
      <mat-card-subtitle><b>janagonz</b> | <span><i>2024-01-01</i></span> <span class="tag">#travel</span> </mat-card-subtitle>
    </mat-card-header>
    <img class="blog-image" mat-card-image src="https://images.pexels.com/photos/5006585/pexels-photo-5006585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="150px">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias mollitia quam eaque a voluptatibus voluptas quia neque voluptates vitae
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button >READ MORE</button>
    </mat-card-actions>
</mat-card>
